// $primary-color: #3498db;
main {
    z-index: 100;
    position: relative;
}

.logo {
    // background-color: $primary-color;
    max-width: 50px;
    border-radius: 30px;
    padding: 5px;
    height: 50px;
    background: rgb(241, 6, 109);
    background: linear-gradient(90deg, rgba(241, 6, 109, 1) 0%, rgba(229, 52, 241, 1) 13%, rgba(255, 209, 0, 1) 100%);

    .icon {
        font-size: 30px;
        margin: -5px;
        margin-left: 3px;
        padding-right: 8px;
    }

    .text {
        font-size: 26px;
        margin-left: 5px;
    }
}

.post-image {
    max-width: 100px;
    max-height: 100px;
    margin: 10px auto;
}

.final_resule {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: red;
}

.final_result_section {
    display: flex;
    justify-content: space-between;
}

.game_time_section {
    display: flex;
    justify-content: space-between;
}

.custom_btn {
    &:hover {
        background-color: #dc2626;
    }
}

.game_time {
    display: flex;
    justify-content: space-around;
    max-width: 185px;
    margin: auto;
    font-weight: 800;
    margin-bottom: 20px;
}

.red_text {
    color: red;
}

.result_number {
    color: #880e4f;
}

.game_name_color {
    color: #00094d;
}

.game_number_color {
    color: #880e4f
}

.icon_img {
    max-width: 100px;
    max-height: fit-content;
}

.edit_delete_cont {
    display: flex;
}

.date_cont {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    z-index: 10;
    position: relative;
}

.edit_result_section {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.select_game {
    margin-bottom: -10px;
}